data/augmented_fingerprints/structure_index.parquet filter=lfs diff=lfs merge=lfs -text
data/augmented_fingerprints/lemat_bulk_fingerprints_combined.parquet filter=lfs diff=lfs merge=lfs -text
data/augmented_fingerprints/unique_fingerprints.parquet filter=lfs diff=lfs merge=lfs -text